.margin-10{
    margin: 10px !important;
}
.margin-5{
    margin: 5px !important;
}
.margin-50{
    margin-top: 50px !important;
}
.font-size-100{
    font-size: 100px;
    color: #808080;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.center{
    text-align: center
}
.input-amount{
    float: left;
    margin-left: 20px;
    width: 100px !important;
}
.margin-top-10{
    margin-top: 10px;
}
/* Estilos Promociones*/

#promPreview{
    top: 200px;
    height: 480px;
    width: 270px;
    background: url(../img/mobile_preview.png) 0 0 no-repeat #504851;
    background-size: contain;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin-left: 110%;
}

#promPreview img{
    width: 268px;
    height: 125px;
    margin-top: -70px;
    margin-left: -14px;
}

#preview-name{
    position: absolute;
    top: 27px;
    left: 50px;
    font-weight: 900;
}

#prom-container-type{
    top: 165px;
    left: 0px;
    height: 111px;
    position: relative;
    padding-top: 35px;
}

#prom-type{
    color: #2AFFA6;
    font-size: 35px;
    font-weight: 600;
}

#prom-description{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#businessPreview{
    top: 100px;
    height: 480px;
    width: 270px;
    background: url(../img/business-preview.png) 0 0 no-repeat #504851;
    background-size: contain;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin-left: 110%;
}

#business-container{
    top: 225px;
    left: 0px;
    height: 200px;
    position: relative;
    /* padding-top: 35px; */
}

#business-container label{
    color: #9BA1A4;
    display: block;
    border-bottom: 1px solid #2AFFA6;
    margin-bottom: 0px;
    margin-top: 5px;
}

.business-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #514354;
    font-weight: 600;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#logo {
    height: 346px;
    position: relative;
    margin-bottom: -50px;
}

.login {
    margin-top: -125px;
}

#login-form {
    color: #9BA1A4;
    display: block;
    border: 2px solid #E4E4E4;
    padding: 25px;
    margin-bottom: 0px;
    margin-top: 5px;
    border-radius: 5px;
}

.primary-font {
    color: #0EE0DA;
    font-size: 150%;
    padding-bottom: 10px
}

.primary-button {
    color: #6C5959;
    background-color: #0EE0DA;
}

.counter {
    background-color: #F9F9F9;
    color: #9BA1A4;
    display: block;
    border: 2px solid #E4E4E4;
    padding: 25px;
    border-radius: 5px;
}

.counter-button {
    background-color: #F9F9F9;
    color: #9BA1A4;
    display: block;
    border: 2px solid #E4E4E4;
    padding: 10px;
    border-radius: 5px;
    margin: 14px 35px -5px 0px;
    font-size: 40px;
}

.navbar-brand img {
    max-width: 160px;
    margin-top: -38px;
    margin-left: 175px;
}

.modal-form {
    margin-left: 20% !important;
}

/* Columnas */

td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #DDDDDD;
    text-align: center;
}

th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border-right-style: solid;
    border-top-style: solid !important;
    border-width: 1px 1px 0px 0px !important;
    border-color: #DDDDDD !important;
}

td:last-child {
    border-right-style: none;
}

th:last-child {
    border-right-style: none;
}
