<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->
	<table>
		<tr ng-repeat="business in businesses | filter:query | orderBy:orderProp" class="thumbnail">
			<td><a href="#/business/{{business._id}}" class="thumb">{{business.name}}</td>
			<td><img src="img/Image.jpg"></td>
			<td><a href="#/business/{{business._id}}">{{business.address}}</td>
		</tr>
	</table>
	</div>
  </div>
</div>