<div class="row">
  <div id='userForm' class="col-md-4 col-md-offset-2">
    <h3>Agregar Usuario<h3>
      <form role="form" ng-submit="user.save(user.new)">


        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" ng-model="user.new.name">
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="user.new.password">
        </div>
        <br>

        <div class="form-group">
            <label for="business">Negocio</label>
            <select id="business" class="form-control" ng-model="user.new.business"
                    ng-options="business._id as business.name for business in business.results">
            </select>
        </div>
        <br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-if="form.type=='edit'">Editar Negocio</button>
            <button type="submit" class="btn btn-primary" ng-if="form.type=='create'">Crear Negocio</button>
        </div>

      </form>
  </div>

</div>
