<div class="modal fade">
    <div class="modal-dialog modal-form">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Negocio</h4>
            </div>

        <div class="modal-body" id="businessForm">
            <form role="form" ng-submit="close(form)">

                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="name" ng-model="business.new.name" required>
                </div>

                <div class="form-group">
                    <label for="zone">Zona</label>
                    <select id="zone" class="form-control" ng-model="business.new.zone"
                            ng-options="zone._id as zone.name for zone in zone.results" required>
                    </select>
                </div>

                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select id="category" class="form-control" ng-model="form.category"
                            ng-options="category._id as category.name for category in category.results" reqiured>
                    </select>
                </div>

                <div class="form-group">
                        <label for="address">Direcci&oacute;n</label>
                        <input type="text" class="form-control" id="address" ng-model="business.new.contact.address" required>
                      </div>
                      <br>

                <div class="form-group">
                    <label for="phone">Tel&eacute;fono</label>
                    <input type="number" class="form-control" id="phone" ng-model="business.new.contact.phone" required>
                </div>

                <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <input type="text" class="form-control" id="facebook" ng-model="form.contact.facebook">
                  </div>

                <div class="form-group">
                    <label for="web">Web</label>
                    <input type="text" class="form-control" id="web" ng-model="form.contact.web">
                </div>

                <div class="form-group">
                    <label>Imagen</label>
                    <div class="btn" name="file" id="file" ng-file-select ng-file-change="upload($files)">Seleccionar una imagen</div>
                    <button ng-click="sendFile()">UPLOAD</button>
                </div>
                <br>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>

        </div>
        <div id='businessPreview' class="col-md-1">
            <span id='preview-name'>{{form.name}}</span>
            <div id='business-container' >
                <label>Direcci&oacute;n</label>
                <span class="business-info">{{form.contact.address}}</span>
                <label>Tel&eacute;fono</label>
                <span  class="business-info">{{form.contact.phone}}</span>
                <label>Facebook</label>
                <span  class="business-info">{{form.contact.facebook}}</span>
                <label>Web</label>
                <span  class="business-info">{{form.contact.web}}</span>
            </div>
            <img ng-src="{{file}}" ng-type=".jpeg"/>
        </div>
    </div>

</div>
