<div class="modal fade">
    <div class="modal-dialog modal-form">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Usuario</h4>
            </div>

            <div class="modal-body" id="userForm">
                <form role="form" ng-submit="close(form)">

                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input type="text" class="form-control" id="name" ng-model="form.name" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" ng-model="form.password" required>
                    </div>

                    <div class="form-group">
                        <label for="business">Negocio</label>
                        <select id="business" class="form-control" ng-model="form.business"
                                ng-options="business._id as business.name for business in business.results" required>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
