<div class="modal fade">
    <div class="modal-dialog modal-form">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Negocio</h4>
            </div>

            <div class="modal-body" id="promoForm">
                <form role="form" ng-submit="close(form)">

                    <div class="form-group">
                      <label for="code">Codigo</label>
                      <input type="text" class="form-control" id="code" ng-model="form.code">
                    </div>

                    <div class="form-group">
                      <label for="name">Nombre</label>
                      <input type="text" class="form-control" id="name" ng-model="form.name">
                    </div>

                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="file" ng-file-select="" ng-model="picFile" name="file" accept="image/*" ng-file-change="generateThumb(picFile[0], $files)" required="">
                    </div>

                    <div class="form-group">
                        <label for="type">Tipo</label>
                        <select id="type" name="type" ng-model="form.type" class="form-control"
                                ng-options="type.name as type.name for type in promotion.types.results.data" required>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="description">Descripcion</label>
                      <input type="text" class="form-control" id="description" ng-model="form.description">
                    </div>

                    <div class="form-group">
                        <label for="status">Estado</label>
                        <select id="status" class="form-control" ng-model="form.status"
                                ng-options="status.name as status.name for status in promotion.states.results.data">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="time">Fecha</label>
                        <input type="date" class="form-control" id="time"  min="2014-10-01" max="2015-12-31" ng-model="form.time">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>
        </div>

        <div id='promPreview' class="col-md-3 col-md-offset-1">
            <span id='name'>{{form.name}}</span>
            <div id='prom-container-type' class='text-center'>
                <span id='prom-type'>{{form.type}}</span><br>
                <span id='prom-description'>{{form.description}}</span>
            </div>
            <img ng-show="picFile[0].dataUrl != null" ng-src="{{picFile[0].dataUrl}}">
        </div>

    </div>
</div>
