<div class="row col-md-offset-5">
    <button class="btn primary-button primary-font business-info" ng-click='form.show()'>
            <p ng-if="!form.state">Agregar Negocio<p><p ng-if="form.state">Ocultar<p>
    </button>
</div>

<div class="row">
    <div ng-if="form.state" ng-include="'./templates/add-business-form.html'"></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <label class="primary-font business-info">Negocios</label>
      <table class="table table-striped table-hover">
          <thead>
          <tr>
              <th>Nombre</th>
              <th>Zona</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Facebook</th>
              <th>Web</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="p in business.results track by $index">
              <td>{{p.name}}</td>
              <td>{{p.zone.name}}</td>
              <td>{{p.contact.address}}</td>
              <td>{{p.contact.phone}}</td>
              <td>{{p.contact.facebook}}</td>
              <td>{{p.contact.web}}</td>
              <td><button ng-click='business.editForm($index)'>Editar</button></td>
              <td><button ng-click='business.delete($index)'>Eliminar</button></td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
