<div class="row col-md-offset-5">
    <button class="btn primary-button primary-font business-info" href ng-click='showModal()'>
        <p>Agregar Negocio<p>
    </button>
</div>

<div class="row">
    <div ng-show="business.results.length == 0" class="col-md-8 col-md-offset-2"><label class="primary-font business-info">No hay usuarios cargados</label></div>
    <div ng-hide="business.results.length == 0" class="col-md-8 col-md-offset-2">
      <label class="primary-font business-info">Negocios</label>
      <table class="table table-striped table-hover">
          <thead>
          <tr>
              <th>Nombre</th>
              <th>Zona</th>
              <th>Categoria</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="p in business.results track by $index">
              <td>{{p.name}}</td>
              <td>{{p.zone.name}}</td>
              <td>{{p.category.name}}</td>
              <td>{{p.contact.address}}</td>
              <td>{{p.contact.phone}}</td>
              <td><button ng-click='showModal($index)'>Editar</button></td>
              <td><button ng-click='business.delete($index)'>Eliminar</button></td>
          </tr>
          </tbody>
      </table>
    </div>
</div>
