<div ng-if="!dash.isAdmin" class="row col-md-12">
    <div class="col-md-4 col-md-offset-2">
        <label class="primary-font business-info">Reservas</label>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Personas</th>
                <th>Termina</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in reserve.results" ng-class="{warning: r.status == 'Pendiente'}">
                <td>{{r.amount}}</td>
                <td>{{r.ends | date:'dd/MM'}}</td>
                <td>
                    <span ng-click="status.setStatus = true;" ng-if="!status.setStatus">{{r.status}}</span>
                    <span ng-if="status.setStatus">
                        <select id="status" class="form-control" ng-model="status.value"
                                ng-options="status.name as status.name for status in reserve.states.results.data"
                                ng-blur="status.changeStatus();status.setStatus=false"
                                required>
                        </select>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        {{status.setStatus}}
    </div>
    <div class="col-md-4">
        <label class="primary-font business-info">Promociones</label>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Vence</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in promotion.results" ng-class="{warning: p.status.name == 'Pendiente'}">
                <td>{{p.code}}</td>
                <td>{{p.type.name}}</td>
                <td>{{p.status.name}}</td>
                <td>{{p.expire | date:'dd/MM/yy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-if="!dash.isAdmin" class="row col-md-12">
    <div class="row col-sm-3 col-md-offset-2">
        <label class="primary-font business-info">Disponibilidad</label>
        <div class="text-center">
            <div class="col-md-8 center counter ">
                <span class="font-size-100" ng-click="availability.editAmount = true;" ng-if="!availability.editAmount">
                    {{availability.results.amount}}
                </span>
                <span ng-if="availability.editAmount">
                    <input type="number"
                           ng-model="availability.results.amount"
                           ng-blur="availability.changeAmount();availability.editAmount=false"
                           class="form-control input-amount" />
                </span>
            </div>
            <div >
                <a href ng-click="availability.plus()" class="counter-button pull-right"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div>
                <a href ng-click="availability.minus()" class="counter-button pull-right"><span class="glyphicon glyphicon-minus"></span></a>
            </div>

        </div>
    </div>

    <div class="row col-sm-3 col-md-offset-1">
        <label class="primary-font business-info">Cuenta Regresiva</label>
        <div class="text-center">
            <div class="col-md-8 center counter ">
                <span class="font-size-100" style="font-size: 250%" >
                    {{reserve.settings.results.timeOut | msToDate}}
                </span>

            </div>
            <div >
                <a href ng-click="reserve.settings.plus()" class="counter-button pull-right"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div>
                <a href ng-click="reserve.settings.minus()" class="counter-button pull-right"><span class="glyphicon glyphicon-minus"></span>
                </a>
            </div>
        </div>
    </div>
</div>

</div>
