<div class="vertical-center">

<div class="col-md-4 col-md-offset-4 login">

<div id="logo"><img id="logo" src="../img/logo.png" alt=""></div>

<div ng-show="error" class="alert alert-danger">{{error}}</div>

<div id="login-form" class="text-center">
    <label class="primary-font business-info">Iniciar Sesion / Registrarse</label>
    <form name="form" ng-submit="login()" role="form">
        <div class="form-group">
            <input type="text" name="email" id="email" class="form-control" ng-model="email" placeholder="Usuario" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="Contraseña" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || loading" class="btn primary-button primary-font business-info btn-block">Iniciar Sesion</button>
            <img ng-if="loading" src="../img/loading.gif"/>
        </div>
    </form>
<div>
</div>
<div>
