<div ng-if="menu.loged">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a class="navbar-brand" href="#/dash">Yapp!</a>
            </div>
            <ul class="nav navbar-nav" ng-if="!menu.isAdmin">
                <li><a href>Promociones</a></li>
                <li><a href="#/configuraciones">Configuraciones</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-if="menu.isAdmin">
                <li><a href>Negocios</a></li>
                <li><a href>Promociones</a></li>
                <li><a href>Estadisticas</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>