<div ng-if="menu.loged">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a class="navbar-brand" href="#/dash">Yapp!</a>
            </div>
            <ul class="nav navbar-nav" ng-if="!menu.isAdmin">
                <li><a href>Reservas</a></li>
                <li><a href='#/proms'>Promociones</a></li>
                <li><a href>Alertas</a></li>
                <li><a href>Canje</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-if="menu.isAdmin">
                <li><a href='#/business'>Negocios</a></li>
                <li><a href>Promociones</a></li>
                <li><a href='#/users'>Usuarios</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>
