<div ng-if="menu.loged">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a class="navbar-brand" href="#/dash" ng-if="!menu.isAdmin"><img src="./img/logo.png"></a>
                 <a class="navbar-brand" href="#/admin" ng-if="menu.isAdmin"><img src="./img/logo.png"></a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-if="!menu.isAdmin">
                <li><a href='#/proms'>Promociones</a></li>
                <li><a href="#/configuraciones">Configuraciones</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="menu.isAdmin">
                <li><a href='#/business'>Negocios</a></li>
                <li><a href='#/users'>Usuarios</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>
