<div class="row col-md-offset-5">
    <button class="btn primary-button primary-font business-info" ng-click='showModal()'>
            <p ng-if="!form.state">Agregar Usuario<p>
    </button>
</div>

<div class="row">
    <div ng-if="form.state" ng-include="'./templates/add-user-form.html'"></div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <label class="primary-font business-info">Usuarios</label>
      <table class="table table-striped table-hover">
          <thead>
          <tr>
              <th>nombre</th>
              <th>negocio</th>

              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="p in user.results">
              <td>{{p.name}}</td>
              <td>{{p.business.name}}</td>
              <td><button ng-click='showModal($index)'>Editar</button></td>
              <td><button ng-click='user.delete($index)'>Eliminar</button></td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
